<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gary's Website</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
    <div class = header>
        <div>
            About
        </div> 
        <div>
            Projects
        </div>
        <div>
            Lifestyle
        </div>
    </div>

    <div class = container>
        <div>
            Hello! My name is 
        </div>
       <div>
            Gary Zhang
       </div>
       <div>
            I am a Software Engineer.
            https://devpost.com/garychess?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav
       </div>

    </div>

    <div class = sidebar>
        <p> We trying this container here</p>
        <p>poo poo</p>

        <div class = sidebar-logo>
            <p>pooping now</p>
        </div>

    </div>

    </body>
</html>